{% extends "base.html" %}
{% block title %} Emplacements {% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <p>
            Les emplacements des sites
        </p>
        <table class="table table-bordered table-sm">
            {% if data %}
            <thead>
            <tr>
                <th class="align-middle">
                    ID
                </th>
                <th class="align-middle">
                    Nom du site
                </th>
                <th class="align-middle">
                    Adresse
                </th>
                <th class="align-middle">
                    Date d'installation
                </th>
                <th class="align-middle">
                    Commentaires
                </th>
                <th class="align-middle">
                    Photo installation
                </th>
            </tr>
            </thead>
            {% endif %}

            {% for row in data %}
            <tbody>
            <tr>
                <td class="align-middle">
                    {{ row.id_emplacements }}
                </td>
                <td class="align-middle">
                    {{ row.nom_emplacements }}
                </td>
                <td class="align-middle">
                    {{ row.adresse_emplacements }}
                </td>
                <td class="align-middle">
                    {{ row.date_emplacements }}
                </td>
                <td class="align-middle">
                    {{ row.commentaires_emplacements }}
                </td>
                <th class="align-middle">
                    <img class="img" src={{ row.photo_emplacements|default(None, True) }}
                         style="border: 0;display:block; width:150px; max-height:auto;"
                         alt="image masquée FFP3 (in COVID-19 Memory) (absente) mod 104">
                </th>

                <td class="text-center" class="align-middle">
                    <a class="btn btn-primary" href="{{ url_for('emplacements_ajouter_wtf') }}"
                       role="button">Ajouter</a>
                </td>
                <td class="text-center" class="align-middle">
                    <a class="btn btn-warning"
                       href="{{ url_for('emplacements_update_wtf', id_emplacements_btn_edit_html=row.id_emplacements) }}"
                       role="button">Edit</a>
                </td>
                <td class="text-center" class="align-middle">
                    <a class="btn btn-danger"
                       href="{{ url_for('emplacements_delete_wtf', id_emplacements_btn_delete_html=row.id_emplacements) }}"
                       role="button">Delete</a>
                </td>

                </th>
            </tr>
            </tbody>
            {% else %}
            <tbody>
            <tr>
                <td>
                    Aucun emplacements.
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('emplacements_ajouter_wtf') }}"
                       role="button">Ajouter</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
</div>
{% endblock %}
