<footer class="mt-auto py-2">
    <div class="container-fluid">
        <hr class="py-0 bg-light"/>
        <div class="row">
            <div class="col-md-6">Ca ne marche pas !<span class="small"><br><a
                    href="https://www.neoadvertising.ch/"
                    target="_blank">Neo Advertising</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2021.06.19</div>
        </div>
    </div>
</footer>
