{% extends "base.html" %}
{% block title %} Homepage Emplacements {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <ul>
                <li class="list-item">
                    <h2> Description du projet.<br></h2>
                        Tout d’abord, Le sujet que j’ai choisi va être utile à mon entreprise formatrice.<br>
Le sujet sera une base de données qui pourra gérer l’ensemble des installations de
mon entreprise.<br> Ma boite formatrice a beaucoup d’installations dans des centres
commerciaux, banques comme BCV et BCG. La base aura pour buts d’aider
l’entreprise à gérer toutes informations dans une seule base de données, Comme les
plans des installations, le matériel installé, la personne de contact du centre, marquer
si c’est en panne etc. J’en ai discuté avec des collègues et ils pensent que ça peut
être pratique pour nous. Vu que nos ‘’ Base de données’’ sont faites sur du Excel, ou
google drive.<br>
                    <br>
                    Vous devez installer les logiciels suivants pour pouvoir lancer mon projet.<br>
UWAMP (https://www.uwamp.com/file/UwAmp.exe) si problèmes (https://www.uwamp.com/fr/?page=download)<br>


Si impossible à faire fonctionner, télécharger le zip et décompresser-le dans un répertoire. Puis double-clic sur UwAmp.exe (https://www.uwamp.com/file/UwAmp.zip)<br>


Python : https://www.python.org/downloads/<br>


Pycharm : https://www.jetbrains.com/fr-fr/student/<br>


Dès que tout ça est installé, on peut procéder au lancement du projet.<br>


Pour pouvoir accéder à mon projet ils vous suffit de télécharger le répertoire de mon gitlab ou le lancer si vous l'avez en local.<br>
Lien de mon GITLAB : https://gitlab.com/Jesus_Acevedo/acevedo_jesus_infoa<br>


Lancez Pycharm. Cliquez sur GET FROM CVS, Dans "URL" mettez mon lien GITLAB et sélectionnez un endroit où vous voulez le sauvegarde.<br>


Quand cela est fait cliquez sur Clone et Pycharm téléchargera mon projet.<br>


Quand l'installation sera fini Pycharm vous proposera d'installer un Python Interpreter, Cliquez Oui.<br>


Quand cela est fait on est prêt pour lancer mon projet.<br>


Démarrer le serveur MySql (uwamp ou xamp ou mamp, etc)<br>


Dans PyCharm, importer la BD grâce à un "run" du fichier "zzzdemos/1_ImportationDumpSql.py".<br>


Puis dans le répertoire racine du projet, ouvrir le fichier "1_run_server_flask.py" et faire un "run".<br>


Un terminal s'ouvrira et chargera le projet. Dans le terminal de PyCharm un lien pour accèder à mon site est visible.<br>
SITE : http://127.0.0.1:5005/<br>


Maitenant vous avez accès à ma Base de données. Vous pouvez créer, modifer, supprimer des données dans les tables qui vont sont proposée.<br>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
