{% extends "base.html" %}
{% block title %} Ajouter une personne (WTF) {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <p>
                Ajouter une nouvelle personne
            </p>
            <form action="" method="POST" novalidate>
                <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <p>
                        {{ form.nom_personnes_wtf.label }}<br>
                        {{ form.nom_personnes_wtf(size=32) }}<br>
                        {% for error in form.nom_personnes_wtf.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                     <p>
                        {{ form.prenom_personnes_wtf.label }}<br>
                        {{ form.prenom_personnes_wtf(size=32) }}<br>
                        {% for error in form.prenom_personnes_wtf.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}

