{% extends "base.html" %}
{% block title %} Emplacements {% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <p>
            Les personnes qui gèrent les emplacements
        </p>
        <table class="table table-bordered table-sm">
            {% if data %}
            <thead>
            <tr>
                <th class="align-middle">
                    ID
                </th>
                <th class="align-middle">
                    Nom de famille
                </th>
                <th class="align-middle">
                    Prénom
                </th>

            </tr>
            </thead>
            {% endif %}

            {% for row in data %}
            <tbody>
            <tr>
                <td class="align-middle">
                    {{ row.id_personnes }}
                </td>
                <td class="align-middle">
                    {{ row.nom_personnes }}
                </td>
                <td class="align-middle">
                    {{ row.prenom_personnes }}

                </td>

                <td class="text-center" class="align-middle">
                    <a class="btn btn-primary" href="{{ url_for('personnes_ajouter_wtf') }}"
                       role="button">Ajouter</a>
                </td>
                <td class="text-center" class="align-middle">
                    <a class="btn btn-warning"
                       href="{{ url_for('personnes_update_wtf', id_personnes_btn_edit_html=row.id_personnes) }}"
                       role="button">Edit</a>
                </td>
                <td class="text-center" class="align-middle">
                    <a class="btn btn-danger"
                       href="{{ url_for('personnes_delete_wtf', id_personnes_btn_delete_html=row.id_personnes) }}"
                       role="button">Delete</a>
                </td>

                </th>
            </tr>
            </tbody>
            {% else %}
            <tbody>
            <tr>
                <td>
                    Aucune personne.
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('personnes_ajouter_wtf') }}"
                       role="button">Ajouter</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
</div>
{% endblock %}
