{% extends "base.html" %}
{% block title %} Materiel {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <p>
                materiel à disposition.
            </p>
            <table class="table table-bordered table-sm">
                {% if data %}
                <thead>
                <tr>
                    <th class="align-middle">
                        ID
                    </th>
                    <th class="align-middle">
                        Type de materiel
                    </th>
                    <th class="align-middle">

                    </th>
                    <th class="align-middle">

                    </th>
                    <th class="align-middle">

                    </th>
                </tr>
                </thead>
                {% endif %}

                {% for row in data %}
                <tbody>
                <tr>
                    <td class="align-middle">
                        {{ row.id_materiel }}
                    </td>
                    <td class="align-middle">
                        {{ row.type_materiel }}
                    </td>
                    <td class="text-center" class="align-middle">
                        <a class="btn btn-primary" href="{{ url_for('materiel_ajouter_wtf') }}"
                           role="button">Ajouter</a>
                    </td>
                    <td class="text-center" class="align-middle">
                        <a class="btn btn-warning"
                           href="{{ url_for('materiel_update_wtf', id_materiel_btn_edit_html=row.id_materiel) }}"
                           role="button">Edit</a>
                    </td>
                    <td class="text-center" class="align-middle">
                        <a class="btn btn-danger"
                           href="{{ url_for('materiel_delete_wtf', id_materiel_btn_delete_html=row.id_materiel) }}"
                           role="button">Delete</a>
                    </td>
                </tr>
                </tbody>
                {% else %}
                <tbody>
                <tr>
                    <td>
                        Aucun materiel.
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('materiel_ajouter_wtf') }}"
                           role="button">Ajouter</a>
                    </td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
