{% extends "base.html" %}
{% block title %} Emplacements/Personne {% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <p<>Lier des personnes à des emplacements</p>
        <table class="table table-responsive-sm">
            {% if data %}
            <thead>
            <tr>
                <th class="align-middle">
                    ID
                </th>
                <th class="align-middle">
                    Nom du site
                </th>
                <th class="align-middle">
                    Adresse
                </th>
                <th class="align-middle">
                    Date d'installation
                </th>
                <th class="align-middle">
                    Commentaires
                </th>
                <th class="align-middle">
                    Photo Installation
                </th>
            </tr>
            </thead>
            {% endif %}
            {% for row in data %}
            <tbody>
            <tr>
                <th class="align-middle">
                    {{ row.id_emplacements }}
                </th>
                <th class="align-middle">
                    {{ row.nom_emplacements }}
                </th>
                <th class="align-middle">
                    {{ row.adresse_emplacements|default("", True) }}
                </th>
                <th class="align-middle">
                    {{ row.date_emplacements|default("", True) }}
                </th>
                <th class="align-middle">
                    {{ row.commentaires_emplacements|default("", True) }}
                </th>
                <th class="align-middle">
                    <img class="img" src={{ row.photo_emplacements|default(None, True) }}
                         style="border: 0;display:block; width:150px; max-height:auto;"
                         alt="image masquée FFP3 (in COVID-19 Memory) (absente) mod 104">
                </th>
                <th class="text-center">
                    <a class="btn btn-primary" href="{{ url_for('emplacements_personnes_ajouter_wtf') }}" role="button">Ajouter</a>
                </td>
                <td class="text-center" class="align-middle">
                    <a class="btn btn-warning"
                       href="{{ url_for('emplacements_personnes_update_wtf', id_emplacements_btn_edit_html=row.id_emplacements) }}"
                       role="button">Edit</a>
                </td>
                <td class="text-center" class="align-middle">
                    <a class="btn btn-danger"
                       href="{{ url_for('emplacements_personnes_delete_wtf', id_emplacements_btn_delete_html=row.id_emplacements) }}"
                       role="button">Delete</a>
                </th>
            <tr>
                <td class="align-middle">
                    <a class="btn btn-warning"
                       href="{{ url_for('edit_personnes_emplacements_selected', id_emplacements_personnes_edit_html=row.id_emplacements) }}"
                       role="button">Modifier</a>
                </td>
                <td class="align-middle" colspan="5">
                    {{ row.PersonnesEmplacements|default("Pas de personnes", True) }}
                </td>
            </tr>
            </tr>
            </tbody>
            {% else %}
            <tbody>
            <tr>
                <td>
                    Aucun film.
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}"
                       role="button">Add</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}
