{% extends "base.html" %}
{% block title %} Ajouter un emplacements (WTF) {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Ajouter un nouveau emplacements
            </p>
            <form action="" method="POST" novalidate>
                <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <th class="align-middle">
                        <p>
                            {{ form.nom_emplacements_wtf.label }}<br>
                            {{ form.nom_emplacements_wtf(size=32) }}<br>
                            {% for error in form.nom_emplacements_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>

                            {% endfor %}
                        </p>
                        <p>
                            {{ form.adresse_emplacements_wtf.label }}<br>
                            {{ form.adresse_emplacements_wtf(size=32) }}<br>
                            {% for error in form.adresse_emplacements_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.commentaires_emplacements_wtf.label }}<br>
                            {{ form.commentaires_emplacements_wtf(size=32) }}<br>
                            {% for error in form.commentaires_emplacements_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>

                        <p>
                            {{ form.date_emplacements_wtf.label }}<br>
                            <input type="date"
                                   {{ form.date_emplacements_wtf(size=32) }}<br>
                            {% for error in form.date_emplacements_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>

                            {% endfor %}
                        </p>
                    </th>

                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}

